<h1>Sessions#home,</h1>
<p>Find me in app/views/sessions/home.html.erb</p>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <h1> Welcome to My Party</h1>
  <body>

  </body>
</html>
