<h1>Sessions#home,</h1>
<p>Find me in app/views/sessions/home.html.erb</p>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Party</title>
    <link rel= "stylesheet" href= "home.css"




  </head>
  <h1></h1>
  <body>
    <div> My Party </div>


    <div> Sign in </div>
    <div> Not a member? Sign up here!</div>


  </body>
</html>
