<!-- <h1></h1> -->
<!-- <p>Find me in app/views/sessions/home.html.erb</p> -->

<div id="home">

  <div id="homeWrapper">


    <h1> My Party </h1>


    <div class="home-button">
      <a href="/sessions/login"> Sign in </a>
    </div>
    <div class="home-button">
      <a href="/users/new"> Not a member? Sign up here!</a>

    </div>
  </div>

</div>
