
#loginWrapper {
  background-image:url("myparty1.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;

}

.sign-form {
  padding-top: 40px;
  color: #fff;
  text-shadow: 1px 1px 1px #580000;
}

.sign-form h1 {
  font-size: 5em;
}

.sign-form p {
  font-size: 1.5em;
}
