#link_to_new_res {
  background:rgba(232, 237, 241,0.7);
  font-size: 2em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-family: 'Josefin Sans', sans-serif;
}

#reservations {
  text-align: center;
  background-image: url("wineglasses.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
}

#resindex {
  color: #640404
}

a { color: #272727; text-decoration: none;}
/*a:visited { color: #69688a; }*/
a:hover { color: #640404;}

#indexres {
  background:rgba(232, 237, 241,0.7);
  font-size: 1em;
}

tbody {
  font-size: 1.5em;
}

.minilinks a{
  font-size: 1.5em;
  color: #272727;
  text-decoration: none;
}

.minilinks a:hover {
   color: #4b0303;
 }
